.wrapper {
    background-color: #111111;
    width: 100%;
    min-height: 50px;
    color: black;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    border-bottom: 1px solid white;
  }
  
  .title {
    margin-left: 20px;
    font-size: 2rem;
    cursor: pointer;
    font-weight: bolder;
    color: #007bff;
    display: flex;
    align-items: center;
    justify-content: center;
  }